body {
    font-family: Montserrat;
    font-weight: 600;
    background-color: #2C4888;
  }
  .secondpage {
    width: 100%;
    height: 1170px;
    background-color: #5E75AC;
    padding-top: 0;
    color: white;
}
.paddingtop {
    padding-top: 128px;
}
.paddingtopl {
    padding-top: 90px;
    padding-bottom: 110px;
}
.bg-custom {
    background-color:white;
}
#thin {
    font-weight: 400;
    font-size: 1rem;
}
.fromleft {
    padding-left: 15%;
    padding-right: 15%;
}
.transform {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */ 
  }

table {
    width: 400px;
    font-weight: 200;
    table-layout: fixed;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tablediv {
    transition: transform .2s;
}
.tablediv:hover {
    transform: scale(1.1); 

}
a:hover {
    text-decoration: none;
}
thead {
    background-color: black;
}
table td:first-child {
    border-left: none;
}


table td:last-child {
    border-right: none;
}
table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.centered {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
.opac {
    filter: brightness(50%);
    width:400px;
    height:292px; 
    transform: scaleX(-1);

}

@media only screen and (max-width: 768px){

    
div.well {
    overflow-x: auto;
    white-space: nowrap;
}
div.well [class*="col"]{
    display: inline-block;
    float: none;
}
.row {
    margin: 4px, 4px; 
                padding: 4px; 
                width: 490px; 
                overflow-x: auto; 
                overflow-y: hidden; 
                white-space: nowrap;
}
table {
    width: 350px;
    font-weight: 200;
    font-size: 0.7rem;
    table-layout: fixed;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tablediv {
    width: 400px;
}
.opac {
    filter: brightness(50%);
    width:350px;
    height:292px; 
    transform: scaleX(-1);

}
.short {
    width:1px;
}
.tocenter {
    white-space : normal;

}
.but{
    margin-left: 35%;
}
h3 {
    font-size: 1rem;
}
p {
    font-size: 0.5rem;
    text-align: center;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
.centered {
    left: 50%;
}

}
@media only screen and (min-width:769px) and (max-width: 991px){

table {
    width: 350px;
}
.opac{
    width: 350px;
}
.tablediv{
    width: 300px;
}
.centered {
    width: 150px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    }
}