.bodyy{
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
    z-index:-1;
    opacity: 0.5;
}
.firstpage {
    padding-top: 50px;
    width: 100%;
    height: 550px;
}
.bg-custom {
    background-color:white;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 0;
    margin-top: 65px;
}
body {
  font-family: Montserrat;
  font-weight: 600;
}

.display-3 {
    font-family: Montserrat;
  font-weight: 600;
    font-size: 59;
}
#thick {

    font-weight: 700;

}
#thin {
    font-weight: 400;
    font-size: 1.5rem;
}
.btn {
    font-weight: 500;
}
.whiteround {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.img-container {
    text-align: center;
    display: block;
  }
.symbol {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}
.rates {
    text-align: center;
}
.middlenav {
    margin-left: 50px;
    margin-right: 50px;
}
#active{
    border-bottom: 4px solid black;
}

.secondpage {
    width: 100%;
    height: 605px;
    background-color: #5E75AC;
    padding-top: 0;
    color: white;
}
.thirdpage {
    width: 100%;
    height: 605px;
    background-color: #2C4888;
    padding-top: 0;
    color: white;
}
.paddingtop {
    padding-top: 128px;
    padding-bottom: 128px;
}
.transform {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */ 
  }
.cont {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 25px;
}
@media only screen and (max-width: 768px){
#thick {
    font-size: 1.5rem;
}
#thin {
    font-size: 1rem;
}

}