body {
    font-family: Montserrat;
    font-weight: 500;
    background-color: whitesmoke;
    height: 100%;
    
  }
  a {
    color: black;
  }
  .textgraph {
    height: 100px;
    width: 10px;
    overflow: visible;
    background-color: red;
  }
  .container {
    overflow: hidden;

    padding-top: 10px;
    padding-bottom: 50px;
    background-color: white;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .fixed-top {
    color: black;
    background-color: white;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 992px) {
    .fixed-top {
      width: 74%;
      margin-left: auto;
      margin-right: auto;
    }
    .container {
      width: 100%;
    }
  }
  @media only screen and (max-width: 556px) {
   
    i {
      font-size: 1rem;
    }
    .fixed-top {
      color: black;
      background-color: white;
      font-size: 0.75rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
      font-size: 1.5rem;
      
    }
  }

.header { 
    background-color: rgb(53, 64, 83);
    color: white;
}
.headersmall {
    font-size: 0.6rem;
}
.active {
    color: rgb(0, 75, 204);
    
    font-weight: 700;
    text-decoration: underline;
}
  .line {
    margin:5px 0;
    height:20px;
    background:
      repeating-linear-gradient(to right,rgb(29, 45, 116) 0,rgb(29, 45, 116) 3px,transparent 3px,transparent 7px) center;
    background-size:100% 2px;
    background-repeat:no-repeat;
  }
  .linesvg {
    height: 10px;
    width: 100%;
    overflow:visible;
  }
  .graph button {
    border:none;
    background-color: transparent;
    font-weight: 700;
  }

#line {
  stroke:rgb(37, 68, 153);stroke-width:20
}
.note{
    background-color: rgb(200, 208, 236);
    color: rgb(59, 71, 104);
    font-size: 0.7rem;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.dailylog {
    text-align: center;
    font-size: 0.7rem;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-bottom: 24px;

}
.log {
    font-size: 0.8rem;
}