.container {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
    padding-bottom: 50px;
    height: 100%;
}
body {
    font-family: Montserrat;
  font-weight: 400;
}
#textsmall {
    font-size: 13px;
}
#pref {
    width: 30px;
    height: 24px;
    background-color: #e5e5e5;
    border-radius: 5px;
}
.active {
    font-weight: bold;
    border-bottom: 3px solid darkblue;
    color: darkblue;
}
#block {
    width: 100%;
    height: 200px;
    border: 1px solid lightgrey;
    box-shadow: 0 1px 4px  0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.dot {
    height: 26px;
    width: 26px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  #profiletag {
      font-size: 1.25rem;
      font-weight: bold;
  }
@media only screen and (min-width: 768px) {
    #pref{
        width: 100px;
        height: 24px;
        background-color: #e5e5e5;
        border-radius: 5px;
    }
    }