.container {
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: white;
  height: 100%;
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cont {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
body {
  font-family: Montserrat;
  font-weight: 400;
}
#textsmall {
  font-size: 13px;
}
.btn-primary{
  background-color: #2c3e4c;
  border: none;
}
.btn-primary:hover {
  background-color: #5b82a0;
}
.btn.btn-primary:active:hover {
  background-color: #5b82a0;
}
#pref {
  width: 100px;
  height: 24px;
  background-color: #e5e5e5;
  border-radius: 5px;
}
.active {
  font-weight: bold;
  border-bottom: 3px solid darkblue;
  color: darkblue;
}
#block {
  width: 100%;
  height: 200px;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.dot {
  height: 26px;
  width: 26px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#preference {
  padding-top: 2px;
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}
button:hover{
  outline: none;
}
#profiletag {
  font-size: 1.25rem;
  font-weight: bold;
}

.opac {
  filter: brightness(30%);
  width: 100%;
  height: 135px;
  transform: scaleX(-1);
  object-fit: cover;
}
p{
  font-weight: 600;
}
table {
  width: 100%;
  font-weight: 200;
  font-size: 0.7rem;
  table-layout: fixed;
  text-align: center;
  background-color: white;
  color: black;
}
.centered {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
}
.tablediv{
  left: 1%;
  overflow: hidden;
  width: 98%;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
}
.fixed-bottom {
  color: black;
  height: 80%;
      background-color: white;
      width: 55%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
}

#darken {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
  filter: opacity(50%)
}
#header {
  border-bottom: 1px solid grey;
  
}
.botrow {
  border-bottom: 0.5px solid rgb(238, 238, 238);
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  #pref {
    width: 30px;
    height: 24px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }
  .fixed-bottom {
    color: black;
        background-color: white;
        width: 74%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
  }
}
@media only screen and (max-width: 776px) {
  .fixed-bottom {
    color: black;
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
  }
}

#add{
  border: 5px solid #2c3e4c;
  border-radius: 5px;
  background-color: #2c3e4c;
  color: white;
}
#add:hover {
  border: 5px solid #5b82a0;
  background-color: #5b82a0;
}
#addcarry{
  border: 5px solid #2c3e4c;
  border-radius: 5px;
  background-color: #2c3e4c;
  color: white;
}
#addcarry:hover {
  border: 5px solid #5b82a0;
  background-color: #5b82a0;
}
.balance {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
 width: 100%;
 padding: 20px;
}
.balance button {
  padding: 0;
  height: 40px
}
.performancetable{
  width: 100%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  height: 180px;
  padding: 24px;
}
.perchange {
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: green;
  color: white;
  padding:3px;
  font-weight: normal;
}
#line {
  stroke:rgb(37, 68, 153);stroke-width:3
}
.linesvg {
  height: 100px;
  width: 100%;
}
a{
  color: black;
}
a:hover{
  color: rgb(31, 63, 122);
  text-decoration: none;
}
#signout {
  position: absolute;
  padding-top: 20px;
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  top: 40%;
  left: 40%;
  color: black;
  z-index: 2;
}
#signout button {
  border-radius: 5px;
  color: white;
  width: 65px;
  height: 45px;
}